{% extends "base.html" %}

{% if request.user.is_authenticated  %}
{% block content %}
<div align="right">
 <button type="button" class="btn btn-danger"><a href="{% url 'logout' %}">Logout </a></button>

        
   </div> 
<center>
<style>
.team_area {
  background: #f9f9ff; }

.team_inner {
  margin-bottom: -30px; }

.team_item {
  position: relative;
  text-align: center;
  margin-bottom: 30px; }
  .team_item .team_img {
    position: relative; }
    .team_item .team_img img {
      width: 100%; }
    .team_item .team_img:before {
      content: "";
      background: rgba(255, 255, 255, 0.65);
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: all 300ms ease;
      border-radius: 50%; }
    .team_item .team_img .hover {
      position: absolute;
      left: 0px;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      opacity: 0;
      transition: all 300ms linear 0s; }
      .team_item .team_img .hover a {
        font-size: 14px;
        color: #777777;
        margin-right: 20px;
        transition: all 300ms linear 0s; }
        .team_item .team_img .hover a:last-child {
          margin-right: 0px; }
        .team_item .team_img .hover a:hover {
          color: #4dbf1c; }
  .team_item .team_name {
    text-align: center;
    margin-top: 30px; }
    .team_item .team_name h4 {
      margin-bottom: 5px;
      color: #222222;
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 18px;
      transition: all 300ms linear 0s; }
    .team_item .team_name p {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #777777;
      margin-bottom: 0px; }
  .team_item:hover .team_img:before {
    opacity: 1; }
  .team_item:hover .team_img .hover {
    opacity: 1; }
  .team_item:hover .team_name h4 {
    color: #4dbf1c; }

</style>

<!--================Team Area =================-->

                                        <section class="team_area p_120">
                                        <div class="container">
                                        <div class="main_title">
                                        </div>
                                        <div class="row team_inner">
                                        <div class="col-lg-3 col-sm-6">
                                        <div class="team_item">
                                        <div class="team_img">

                                        <img class="rounded-circle" src="/static/images/addlecturer.png" alt="">
                                        <div class="hover">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        </div>
                                        <div class="team_name">
                                        <a  href="{% url 'add_student'%}"><h4>Add Student</a>

                            
                                        </div>
                                        </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6">
                                        <div class="team_item">
                                        <div class="team_img">
                                        <img class="rounded-circle" src="/static/images/lecturer1.jpg" alt="">
                                        <div class="hover">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        </div>
                                        <div class="team_name">
                                        <a  href="{% url 'view'%}"><h4>View Student</a>

                                        </div>
                                        </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-6">
                                        <div class="team_item">
                                        <div class="team_img">
                                        <img class="rounded-circle" src="/static/images/profile.png" alt="">
                                        <div class="hover">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        </div>
                                        <div class="team_name">
                                        <a  href="{% url 'view'%}"><h4>Update Profile</a>

                                        </div>
                                        </div>
                                        </div>
                                        
                                        </div>
                                        </div>
                                        </div>
                                        </section>
                                        
      
{% comment %} <nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'view' %}">Update Profile <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'add_student' %}">Add Students</a>
          <a class="dropdown-item" href="#">Remove Students</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'view' %}">View Students</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
       <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">Logout </a>
      </li>
      {% comment %} <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}">logout <span class="sr-only">(current)</span></a>
      </li> 
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> {% endcomment %}
{% endblock content %}  
{% else %}
      <a href="{% url 'login'%}" class="mr-4 text-white">
      <i class="fas fa-sign-in-alt"></i> &nbsp; Login
      </a>
{% endif %}

